<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41589974498-brlf5j90135rs52fg663mh9q9c5e342f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41589974498-brlf5j90135rs52fg663mh9q9c5e342f</string>
	<key>API_KEY</key>
	<string>AIzaSyBsHoJvXT17-_czCrZpP5ebeyguUYPSP3E</string>
	<key>GCM_SENDER_ID</key>
	<string>41589974498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlphaDraw.Alpha-Draw</string>
	<key>PROJECT_ID</key>
	<string>alpha-draw-e79cd</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-draw-e79cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41589974498:ios:62bd8f9fbed1711d5f45bb</string>
</dict>
</plist>